body{
    font-family: "Noto San TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6,p{
margin-bottom: 0;
}