    <!-- CTA -->
    <section class="container my-8">
      <div class="card bg-primary py-4 py-lg-6 px-6 px-lg-9">
        <div class="card-body p-0">
          <img src="/assets/images/logo-icon-w.svg" class="mb-6" style="width: 40px; height: 36px;" alt="logo-w">
          <h5 class="fs-2 text-light fw-bold mb-3">邁向你真正想過的生活，從這裡開始</h5>
          <p class="text-light fs-5 pb-6 hr-dots mb-4 mb-lg-6">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
        
          <div class="d-flex flex-column flex-lg-row gap-lg-6 gap-4">
          <div class="d-flex text-light"><span class="material-icons-outlined me-2">phone</span><p class="fw-medium">0800-123-123</p></div>
           <div class="d-flex text-light mb-2"><span class="material-icons-outlined me-2">mail</span><p class="fw-medium">Sample@mail.com</p></div>
           <button class="btn btn-dark pe-3 ms-lg-auto me-lg-0 me-auto">預約免費職涯探索<span class="material-icons-outlined align-bottom ms-1 ">
              chevron_right</span></button>
        </div>
        </div>
      </div>
    </section>