<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.svg" alt="logo" width="124" height="48" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link border-0 px-3 me-3" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border-0 px-3 me-3" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border-0 px-3" href="#">聯絡我們</a>
        </li>
      </ul> </div>
    <a href="user.html" class="">
      <img
        src="/assets/images/avatar.png"
        class="rounded-circle me-2 avatar-img"
        alt="avatar"
      />Mokumaru</a
    >
 
</nav>
