
.border-gradient{
  border-style: solid;
  border-width: 1px 0 0;         /* 只有上邊有寬度 */
  border-color: transparent;
  border-image: linear-gradient(90deg,
                  rgba(255,255,255,0) 0%,
                  #cad4de 50%,
                  rgba(255,255,255,0) 100%) 1;
}