.max-width-800 {
    max-width: 800px;
}

.header-bg {
    background: url(/assets/images/service/banner-bg-pc.png) center no-repeat;
    background-size: cover;
}

.banner-person {
    bottom: -10px;
    right: calc(50% - 500px);
}

.mt-n280 {
    margin-top: -280px;
    height: 280px
}