<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/nav_un-logged-in'); -%>
    <main>
        <header class="py-lg-12 py-9 header-bg d-flex justify-content-center text-center position-relative">
            <div class="max-width-800">
            <h1 class="fs-lg-1 fs-2 fw-bold mb-lg-9 mb-6">關於職旅</h1>
            <p class="text-secondary fs-5 ">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。<br>
無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p></div>
            <img src="/assets/images/service/banner-person.svg" alt="banner-person" class="position-absolute banner-person d-none d-lg-block">
        </header>

        <!-- 夥伴 -->
        <section>
            <div class="container-xxl py-lg-12 py-9">
                <div class="text-center">
                    <h2 class="fs-2 fw-bold mb-lg-6 mb-4">精實的職旅夥伴</h2>
                    <p class="text-secondary fs-5 mb-lg-9 mb-6"> 我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
                </div>
                
                <div class="row flex-nowrap overflow-auto pb-2 mb-lg-9 mb-6">    
                <div class="col">
                    <div class="card border-0 shadow position-relative h-100" style="width: 320px;">
                        <img src="/assets/images/about/mentor-1.png" class="card-img-top " alt="mentor-1" />
                    <div class="card-body pb-6">
                        <p class="text-secondary mb-2">數位遊牧先驅</p>
                        <h5 class="card-title mb-4">陳志遠 Ethan Chen</h5>
                        <div class="d-flex flex-wrap column-gap-2 row-gap-1">
                            <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 遠端工作策略</span> <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 數位遊牧生活設計</span>
                        </div>

                    </div>
                    </div>
                </div>

                 <div class="col">
                    <div class="card border-0 shadow position-relative h-100" style="width: 320px;">
                    <img src="/assets/images/about/mentor-2.png" class="card-img-top " alt="mentor-2" />
                <div class="card-body pb-6">
                    <p class="text-secondary mb-2">個人品牌策略專家</p>
                    <h5 class="card-title mb-4">林曉彤 Clara Lin</h5>
                    <div class="d-flex flex-wrap column-gap-2 row-gap-1">
                        <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 個人品牌建立</span> <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 內容行銷策略</span><span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 故事行銷</span>
                    </div>
                </div>
                </div>
                </div>

                 <div class="col">
                    <div class="card border-0 shadow position-relative h-100" style="width: 320px;">
                    <img src="/assets/images/about/mentor-3.png" class="card-img-top " alt="mentor-3" />
                <div class="card-body pb-6">
                    <p class="text-secondary mb-2">財務自由規劃顧問</p>
                    <h5 class="card-title mb-4">王建明 Marcus</h5>
                    <div class="d-flex flex-wrap column-gap-2 row-gap-1">
                        <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 稅務優化</span> <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 被動收入建立</span><span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 現金流管理</span>
                    </div>
                </div>
                </div>
                </div>                

                 <div class="col">
                    <div class="card border-0 shadow position-relative h-100" style="width: 320px;">
                    <img src="/assets/images/about/mentor-4.png" class="card-img-top " alt="mentor-4" />
                <div class="card-body pb-6">
                    <p class="text-secondary mb-2">創意接案與多元收入專家</p>
                    <h5 class="card-title mb-4">張雅琳 Ariel</h5>
                    <div class="d-flex flex-wrap column-gap-2 row-gap-1">
                        <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 創意變現策略</span> <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 線上課程開發</span>
                    </div>
                </div>
                </div>
                </div>
                
                
                 <div class="col">
                    <div class="card border-0 shadow position-relative h-100" style="width: 320px;">
                    <img src="/assets/images/about/mentor-5.png" class="card-img-top " alt="mentor-5" />
                <div class="card-body pb-6">
                    <p class="text-secondary mb-2">遠端工作技術顧問</p>
                    <h5 class="card-title mb-4">李俊宏 Kevin Lee</h5>
                    <div class="d-flex flex-wrap column-gap-2 row-gap-1">
                        <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 專案管理自動化</span> <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 虛擬團隊管理</span>
                    </div>
                </div>
                </div>
                </div>

                 <div class="col">
                    <div class="card border-0 shadow position-relative h-100" style="width: 320px;">
                    <img src="/assets/images/about/mentor-6.png" class="card-img-top " alt="mentor-6" />
                <div class="card-body pb-6">
                    <p class="text-secondary mb-2">生活設計與健康平衡教練</p>
                    <h5 class="card-title mb-4">吳曉雯 Vivian</h5>
                    <div class="d-flex flex-wrap column-gap-2 row-gap-1">
                        <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 時間管理</span> <span class="fs-7 text-secondary border rounded-pill py-1 px-2"># 職涯與家庭整合</span>
                    </div>
                </div>
                </div>
                </div>
                
            
                </div>

                <div class="bg-primary pt-lg-6 pt-4 rounded shadow">
                    <div class="mx-auto dialog-w mb-1">
                    <h5 class="fs-4 text-primary py-3 text-center">
                    團隊承諾 
                    </h5></div>
                    <p class="mx-auto text-light max-width-800 text-center mb-lg-9 mb-6">我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。</p>
                    <div class="d-flex justify-content-center ">
                    <picture class="mb-lg-9 mb-6">
                    <!-- 當螢幕寬度少於600px時，替換圖片 -->
                     <source srcset="/assets/images/about/text-mb.svg" media="(max-width: 992px)">
                    <!-- 預設圖片，通常是桌面版本 -->
                    <img src="/assets/images/about/text-pc.svg" alt="Logo">
                    </picture>
                    </div>
                </div>

        </section>

        <!-- 公司資訊 -->
        <section class="bg-gray100 py-lg-12 py-9">
            <h3 class="fs-2 fw-bold text-center mb-lg-9 mb-6">公司資訊</h3>
            <div class="container">
            <div class="card p-6 p-lg-9 border-0 shadow">
                <div class="card-body p-0">
                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">公司位置</p>
                        <p class="py-4 py-lg-6">110台北市信義區信義路五段7號</p>
                    </div>

                     <!-- 文字 -->
                    <div class="mb-6 mb-lg-9">
                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">負責人</p>
                        <p class="py-4 py-lg-6">張世明</p>
                    </div>

                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">聯絡專線</p>
                        <p class="py-4 py-lg-6">02-2758-6600</p>
                    </div>

                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">營業時間</p>
                        <p class="py-4 py-lg-6">週一至週五 10:00～18:00（國定假日休息）</p>
                    </div>

                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">電子郵件</p>
                        <p class="py-4 py-lg-6">contact@workway.tw</p>
                    </div>

                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">成立時間</p>
                        <p class="py-4 py-lg-6">2023 年 6 月</p>
                    </div>

                    <div class="d-flex border-bottom">
                        <p class="text-secondary fw-bold p-4 p-lg-6">統一編號</p>
                        <p class="py-4 py-lg-6">83149276</p>
                    </div>
                    </div>
                 
                    <img src="/assets/images/about/map.png" alt="map">
                    
                </div>
                </div>

            </div> 
        </section>

        <!-- 白色背景 -->
        <div class="bg-light mt-n280 d-none d-lg-block">           
        </div>

    <%- include('./layout/cta-banner'); -%>

    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
